#navTab{
    text-decoration: none;
    color: #000000;
    padding: 10px;
}

#navTab:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #740a0a;
}

.navBar{
    margin: auto;
    align-items: center;
}

nav {
    margin: auto;
    width: 90%;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

nav ul a:hover, 
nav ul a:focus {
    color: #025a35;
    font-size: 25px;
    font-weight: bold;
}